<%= form_for(@dislike) do |f| %>
  <% if @dislike.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dislike.errors.count, "error") %> prohibited this dislike from being saved:</h2>

      <ul>
      <% @dislike.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
