<div class="container">
	<div class="row-fluid">
		<div class="span6 profileDetail">
			<div class="well">
				<div class="row-fluid">
					<div class="span2">
						<img src="">
					</div>
					<div class="span6">
						<h4><%= @user.name %></h4>
						<p>Email : <%= @user.email if @user.email %></p>
					</div>
					<div class="offset2 span2">
						<div class="well userScore" style="padding:0px" >
							<div style="text-align:center">

								<a href="#" style="margin:0px;padding:0px;" ><span class="fui-triangle-up"style="font-size:20px; "></span></a>
								<h4 class="vote-count-post" style="margin:0px;padding:0px;">7</h4>
								<a  href="#" style="margin:0px;padding:0px;"><span class="fui-triangle-down"style="font-size:20px; "></span></a>
								<p style="font-size:11px">Votes</p>

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="span6 recentAct">
			<div class="well">
				<h4>Recent Activities</h4>
				<div class="row-fluid">
					<div class="well actWell" style="background-color:#DFDFDF;">
						<p>C.C. had posted a message on <a href = "#">Keima</a>'s trade </p>
					</div>
					<div class="well actWell" style="background-color:#DFDFDF;">
						<p>C.C. had posted a message on <a href = "#">Keima</a>'s trade </p>
					</div>
					<div class="well actWell" style="background-color:#DFDFDF;">
						<p>C.C. had posted a message on <a href = "#">Keima</a>'s trade </p>
					</div>
					<div class="well actWell" style="background-color:#DFDFDF;">
						<p>C.C. had posted a message on <a href = "#">Keima</a>'s trade </p>
					</div>
					<div class="well actWell" style="background-color:#DFDFDF;">
						<p>C.C. had posted a message on <a href = "#">Keima</a>'s trade </p>
					</div>

				</div>
			</div>
		</div>
	</div>

</div>