<div><h3>Welcome to Chula Lounge !!</h3></div>
<span><h4>Proceed to <a href="../pages" class="my-class">CourseReview</a></span>
<span><h4>Proceed to <a href="../trades">CourseExchange</a></span>
<div><h6>Feedback or suggestions please E-mail to "parat.fiam@gmail.com"</h6></div>
<h4>Here's the lists of our registered users</h4>
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>
