<div><h3>Welcome to Chula Lounge !!</h3></div>
<div><h6>Feedback or suggestions please E-mail to "parat.fiam@gmail.com"</h6></div>
<h4>Here's the lists of out registered users</h4>
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>
