<div class="container-fluid course-index" ng-controller="PageCourseRegister">
	<div class="row-fluid">
		<div class="span4">
			<div class="row-fluid">
			  <div class="span12 filter-wrapper">
			  <div class="filter-box">
			   <div class="row-fluid">
			    <h6>Course Information</h6>
			    <div ng-show="editMetaMode">
				    <form ng-submit="saveMeta()">
				    	<div class="year">
					    	<span class="meta-label">Year</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					    	<select ng-model="course.year" ng-options="y for y in ayears" >
					    		<option value="">Choose Year</option>
					    	</select>
					    	<div class="btn-group pull-right" data-toggle="buttons-radio" >
					    		<button id="s1" type="button" class="btn btn-small active" ng-click="course.semester=1">S1</button>
					    		<button id="s2" type="button" class="btn btn-small" ng-click="course.semester=2">S2</button>
					    	</div>
				    	</div>
				    	<div class="curriculum" ng-repeat="c in course.curriculums">
				    		<span class="meta-label">Faculty</span>&nbsp;&nbsp;
				    		<select ng-model="c.faculty" ng-options="f.name for f in faculties">
				    			<option value="">Choose Faculty</option>
				    		</select>
				    		<select ng-show="c.faculty != null || c.faculty != ''" ng-model="c.curriculum" ng-options="c.abbreviation for c in c.faculty.curriculums">
				    			<option value="">Choose Curriculum</option>
				    		</select>
				  			<button type="button" ng-click="removeCurr(c)" class="btn btn-small pull-right">-</button>
				    	</div>			  			
				    	<div class="footer">
				  			<button type="button" ng-click="addCurr()" class="btn btn-small">Add more curriculum</button>
				  			<button type="button" ng-click="editMeta(false)" class="btn btn-small pull-right">Cancel</button>
				  			<input type="submit" class="btn btn-small pull-right" ng-minlength="7" ng-maxlength="7" value="Save">
			  			</div>
				    </form>
			    </div>
			    <div ng-hide="editMetaMode">
			    		<div class="year">
			    		Year {{ data.course.year }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Semester {{ data.course.semester }}
			    		</div>
			    		<div class="curriculum-title">Curriculum</div>
			    		<div class="curriculum none" ng-show="data.curriculums.length <= 0">none</div>
			    		<div class="curriculum" ng-repeat="c in data.curriculums |orderBy:'faculty.name':false">
			    			<div>{{c.faculty.name}} - {{c.curriculum.abbreviation}}</div>
			    		</div>
						<button type="button" class="btn btn-small pull-right" ng-click="editMeta(true)">Edit</button>
			    </div>
			    </div>
			  </div>
			  	<div ng-repeat="t in data.teaches | orderBy:'year':true" class="filter-box">
			  		<button type="button" class="close" ng-click="removeTeach(t)">&times;</button>
			  		<h6>Year {{t.year}}</h6>
			  		<span ng-repeat="professor in t.professors">{{professor.name}} {{professor.last_name}}<br></span>
			  	</div>
			  	<div class="filter-box">
			  		<form ng-submit="addTeach()">
			  			<h6>Course Teaching</h6>
			  			<div>
				  			<select ng-model="teach.year" ng-options="y for y in years">
				  				<option value="">Choose Academic Year</option>	
				  			</select>
			  			</div>
			  			<div>
			  				<select ng-model="teach.professor" ng-options="p.name + ' ' + p.last_name for p in profs" >
				  				<option value="">Choose Professor</option>
				  			</select>
			  			</div>
			  			<div ng-repeat="professor in teach.professors">
				  			<select ng-model="teach.professors[$index]" ng-options="p.name + ' ' + p.last_name for p in profs" >
				  				<option value="">Choose Professor</option>
				  			</select>
				  			<button type="button" ng-click="removeProf(professor)" class="btn btn-small">-</button>
			  			</div>
			  			<div class="footer">
				  			<button type="button" ng-click="addProf()" class="btn btn-small">Add more professor</button>
				  			<input type="submit" class="btn btn-small pull-right" ng-minlength="7" ng-maxlength="7" >
			  			</div>
			  		</form>
			  	</div>
			  </div>
			</div>
		</div>
		<div class="span8">
			<div class="row-fluid">
				<div class="span12 box">
					<div ng-hide="editCourseMode">
						<h4>{{ data.course.number }}: {{ data.course.title}}</h4>
						<button type="button" class="btn pull-right" ng-click="editCourse(true)">Edit</button>
					</div>
					<div ng-show="editCourseMode">
					  <form ng-submit="saveCourse()">
						<input type="text" number-mask maxlength="7" minlength="7" ng-model="course.number">
						<input type="text" ng-model="course.title">
						<button type="button" class="btn pull-right" ng-click="editCourse(false)">Cancel</button>
						<button type="submit" class="btn pull-right">Save</button>
					  </form>
					</div>
					</div>
			</div>
			<div class="row-fluid">
				<div class="span12 box" id="edit-description">
					<div ng-hide="editDescMode">
						<p>{{ data.course.description }}</p>
						<button type="button" class="btn pull-right" style="bottom:0" ng-click="editDesc(true)">Edit</button>
					</div>
					<div ng-show="editDescMode">
 				  	<form ng-submit="saveDesc()">
						<textarea class="span8 textarea" ng-model="description"></textarea>
						<button type="button" class="btn pull-right" ng-click="editDesc(false)">Cancel</button>
						<button type="submit" class="btn pull-right">Save</button>
					  </form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<button ng-click="save()" type="button" style="float:right; margin-top:10px" class="btn">Save Course</button>
	</div>
</div>

<div id="test"></div>