<div class="container-fluid index" ng-controller="PageIndex">

  <div class="row-fluid">
  	<a class="span3 box" id="ise"  href="../pages/nav/1">
  		<h2>ISE</h2>
  		<p style="text-align:center">Faculty of Engineering</p>

  	</a>
  	<a class="span3 box" id="bba" data-toggle="modal" data-target="#NAModal">
  		<h2>BBA</h2>
  		<p style="text-align:center">Faculty of Commerce and Accountancy</p>
  		
  	</a>
  	<a class="span3 box" id="eba" data-toggle="modal" data-target="#NAModal">
  		<h2>EBA</h2>
  		<p style="text-align:center">Faculty of Economics</p>
  		
  	</a>
  	<a class="span3 box" id="bsac"  data-toggle="modal" data-target="#NAModal">
  		<h2>BSAC</h2>
  		<p style="text-align:center">Faculty of Science</p>
  		
  	</a>
  	<a class="span3 box" id="balac" data-toggle="modal" data-target="#NAModal">
  		<h2>BALAC</h2>
  		<p style="text-align:center">Faculty of Arts</p>
  		
  	</a>
  	<a class="span3 box" id="jipp" data-toggle="modal" data-target="#NAModal">
  		<h2>JIPP</h2>
  		<p style="text-align:center">Faculty of Psychology</p>
  		
  	</a>
  	<a class="span3 box" id="inda" data-toggle="modal" data-target="#NAModal">
  		<h2>INDA</h2>
  		<p style="text-align:center">Faculty of Architecture</p>
  		
  	</a>
  	<a class="span3 box" id="comarts" data-toggle="modal" data-target="#NAModal">
  		<h2>COMARTS</h2>
  		<p style="text-align:center">Faculty of Communication Arts</p>
  		
  	</a>
  </div>


<div class="modal fade" id="NAModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Sorry ! Review not available yet !</h4>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>