<div class="container-fluid index" ng-controller="PageIndex">
  <div class="row-fluid">
  	<a class="span3 box" ng-repeat="f in faculties" href="../pages/nav/{{f.id}}">
  		<h2>{{f.abbreviation}}</h2>
  		<p style="text-align:center">{{f.name}}</p>
  	</a>
  </div>
</div>