<div class="container-fluid index" ng-controller="PageIndex">

  <div class="row-fluid">
  	<a class="span3 box"  href="../pages/nav/1">
  		<h2>ISE</h2>
  		<p style="text-align:center">Faculty of Engineering</p>

  	</a>
  	<a class="span3 box" id="bba" href="../pages/nav/2">
  		<h2>BBA</h2>
  		<p style="text-align:center">Faculty of Commerce and Accountancy</p>
  		
  	</a>
  	<a class="span3 box" id="eba" href="../pages/nav/3">
  		<h2>EBA</h2>
  		<p style="text-align:center">Faculty of Economics</p>
  		
  	</a>
  	<a class="span3 box" id="bsac"  href="../pages/nav/4">
  		<h2>BSAC</h2>
  		<p style="text-align:center">Faculty of Science</p>
  		
  	</a>
  	<a class="span3 box" id="balac" href="../pages/nav/5">
  		<h2>BALAC</h2>
  		<p style="text-align:center">Faculty of Arts</p>
  		
  	</a>
  	<a class="span3 box" id="jipp" href="../pages/nav/6">
  		<h2>JIPP</h2>
  		<p style="text-align:center">Faculty of Psychology</p>
  		
  	</a>
  	<a class="span3 box" id="inda" href="../pages/nav/7">
  		<h2>INDA</h2>
  		<p style="text-align:center">Faculty of Architecture</p>
  		
  	</a>
  	<a class="span3 box" id="comarts" href="../pages/nav/8">
  		<h2>COMARTS</h2>
  		<p style="text-align:center">Faculty of Communication Arts</p>
  		
  	</a>
  </div>
</div>